<!DOCTYPE html>
<html>
  <head>
    <title>RailsMessenger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if user_signed_in? %>
      <meta name="current-user-id" content="<%= current_user.id %>">
    <% end %>
  </head>

  <body class="bg-gray-100">
    <%= render 'layouts/navbar' %> 

    <main class="container mx-auto mt-8 px-4 sm:mt-28 sm:px-5 flex flex-col sm:flex-row">
      <div class="w-full sm:w-auto">
        <% if notice.present? %>
          <p class="notice bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded relative" role="alert"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= alert %></p>
        <% end %>
      </div>
      <div class="w-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>